.logo-lg {
    text-align: left;
}

.logo-image-mini {
    margin: 12px 3px 0 0;
}

.logo-image-lg {
    margin: -5px 5px 0 0;
}

.input-group-addon {
    min-width: 41px;
}

.new-button {
    margin-left: 20px;
}

.content-center {
    margin: 0 auto;
    max-width : 1300px;
}

.form-group {
    /*max-width: 450px;*/
}

.tab-margin {
    margin: 25px 0;
}

.sort-icon {
    opacity: 0.5;
}

.input-filter {
    display: inline;
    width: inherit;
}

.title-filter {
    margin-right: 10px;
}

.btn-filter {
    margin-bottom: 1px;
    vertical-align: top;
}

.setting-buttons {
    /*padding: 15px 0 0 15px;
    border-top: 1px solid #f4f4f4;*/
    float: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

#sale {
    width: 15px;
    height: 15px;
    background: #00c0ef;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#cost {
    width: 15px;
    height: 15px;
    background: #F56954;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#profit {
    width: 15px;
    height: 15px;
    background: #2FB628;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

div.required .control-label:not(span):after, td.required:after {
    content: ' *';
    color: #F00;
    font-weight: bold;
}

.form-group .select2-container {
    width: 100% !important;  
}

.form-group .select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.form-group .select2-container .select2-selection--single {
    height: 34px;
    border: 1px solid #d2d6de;
}

.form-group .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.form-group .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: inherit;
}

.form-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}

.form-group .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #555 transparent transparent transparent;
}

.info-box .progress .progress-bar {
    background: inherit;
}

.info-box .progress .progress-bar.progress-bar-green, .progress-bar-success {
    background-color: #00a65a;
}

.info-box .progress .progress-bar.progress-bar-red, .progress-bar-danger {
    background-color: #dd4b39;
}

.info-box .progress .progress-bar.progress-bar-aqua, .progress-bar-info {
    background-color: #00c0ef;
}

.box.box-success .table.table-bordered {
    font-size: 14px;
}

.info-box-icon i {
    margin-top: 20px;
}

.box.box-success .chart svg, .chart canvas {
    width: 96% !important;
    margin-left: 25px;
}

.daily-footer {
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid #f4f4f4;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #00a65a;
}

.input-group .btn-group.radio-inline {
    padding-left: inherit;
}

.input-group input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: inherit;
    outline-offset: 0px;
}

.input-group .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 0px;
}

.users-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.setting-form .box-footer .col-sm-12 .form-group {
    margin-left: 5px;
}

/*
.setting-form .box-footer .col-sm-12 .form-group a {
    margin-left: 10px;
}
*/

.col-sm-12 .nav-tabs-custom .tab-content .tab-pane {
    overflow: auto;
}

.fake-input {
    /*width: 370px !important;*/
}

.navbar-custom-menu .navbar-nav > li > a > i {
    line-height: 20px;
}

.tasks-menu img {
    margin: 1px 0 2px 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #00a65a !important;
    color : #FFFFFF;
}

.form-control:focus {
    border-color: #00a65a !important;
}

.box.box-success .invoice, .box.box-success .bill {
    border: none;
    margin: 0;
}

.bill {
    position: relative;
    background: #fff;
    padding: 20px;
}

#loading {
    position: absolute;
    top: 40%;
    left: 40%;
}

#confirm #loading {
    position: inherit;
    top: 40%;
    left: inherit;
}

#payment-modal .form-group.col-md-6 .help-block {
    color : #F00;
}

.login-page {
    background: url('../img/login.jpg') no-repeat center center fixed;
    height: 100%;
    width: 100%;
    padding: 5% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.login-logo img {
    width: 70px;
}

.user-panel {
    min-height: 50px;
}

.user-panel .pull-left.info.open {
    position: fixed;
    z-index: 9999;
}

.user-panel > .image > img {
    height: auto;
    max-height: 45px;
    width: 100%;
}

.main-header .add-new.nav.navbar-nav i {
    margin-top: 3px;
    line-height: 17px;
}

.navbar-nav > .add-new-menu > .dropdown-menu {
    width: 465px;
    max-height: 180px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}

.navbar-nav > .add-new-menu > .dropdown-menu > .list-inline {
    margin-left: 0;
}

.navbar-nav > .add-new-menu > .dropdown-menu > .list-inline > li {
    width: 150px;
}

.navbar-nav > .add-new-menu > .dropdown-menu > .list-inline > li > .list-unstyled > li .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.navbar-nav > .add-new-menu > .dropdown-menu > .list-inline > li > .list-unstyled > li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
}

.navbar-nav > .add-new-menu > .dropdown-menu > .list-inline > li > .list-unstyled > li > a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.navbar-nav > .add-new-menu > .dropdown-menu > .list-inline > li > .list-unstyled > li .menu > li > a {
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.navbar-nav > .add-new-menu > .dropdown-menu > .list-inline > li > .list-unstyled > li .menu > li > a:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.navbar-nav > .add-new-menu > .dropdown-menu > .list-inline > li > .list-unstyled > li.footer > a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444 !important;
    text-align: center;
}

.add-new .add-new-menu .menu {
    width: 150px;
}

.live-search {
    padding: 5px;
}

#result-search {
    border-color: #00a65a;
}

#result-search li a:hover {
    color: #FFFFFF;
    background-color : #00A65A !important;
}

#result-search li a:hover .live-search .name {
    color: #FFFFFF !important;
}

.live-search .name {
    font-size: 14px;
    font-weight: bold;
}

.live-search .type {
    font-size: 12px;
}

.table.table-responsive tbody tr td {
    vertical-align: middle;
}

.form-group.has-error .fancy-file {
    margin-bottom: 15px;
}

ul.add-new.nav.navbar-nav.pull-left {
    margin: 0;
}

.table {
    font-weight: 400;
    font-size: inherit;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.invoice-header {
    padding-bottom: 9px;
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #eee;
}

.invoice-company {
    padding-left: 23px;
}

.invoice-logo {
    max-width: 430px;
    max-height: 120px;
    margin-left: -15px;
}

.login-box-footer {
    text-align: center;
    margin-top: 30px;
    color: #c20674;
}

.login-box-footer a {
    color: #c20674;
}

.delete-link:hover, .delete-link:focus {
    background-color: #e1e3e9 !important;
    color: #333 !important;
    text-decoration: none !important;
    outline: none !important;
}

.delete-link {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    /* button to link */
    background-color: transparent !important;
    border: none;
    cursor: pointer;
}

.table-responsive {
    overflow-x: visible;
}

.margin-top {
    margin-top: 20px;
}

@media only screen and (max-width : 768px) {
    .main-header .add-new.nav.navbar-nav i {
        margin-top: 3px;
        line-height: 27px;
    }

    ul.add-new.nav.navbar-nav.pull-left li {
        position: initial;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
    }

    .dropdown.add-new-menu.open .dropdown-menu {
        background-color: #ffffff;
    }

    .invoice-company {
        padding-left: 0;
    }
}

@media only screen and (max-width : 480px) {
    .main-header .add-new.nav.navbar-nav i {
        margin-top: 3px;
        line-height: 27px;
    }

    ul.add-new.nav.navbar-nav.pull-left li {
        position: initial;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
    }

    .navbar-nav > .add-new-menu > .dropdown-menu > .list-inline > li {
        width: 120px;
    }

    .dropdown.add-new-menu.open .dropdown-menu {
        background-color: #ffffff;
    }
}

@media only screen and (min-width : 768px) {
    .amount-space {
        padding-right: 30px !important;
    }
    .amount-space-left {
        padding-left: 30px !important;
    }
}

.text-disabled {
    opacity: 0.4;
}

.print-width {
    max-width: 1500px;
}

/*
.tooltip > .tooltip-inner {
    background-color: #6da252;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #6da252 !important;
}

.content-wrapper {
    overflow: inherit;
}

.main-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
}
*/

.progress-bar-green, .progress-bar-success {
    background-color: #6da252;
}

#chart .row {
    margin-top: 10px;
}

#chart .row .col-md-3 .customer-content .progress {
    clear: both;
    margin-top: 25px;
    margin-bottom: 10px;
}

span.picture, span.attachment {
    margin-left: 10px;
    vertical-align: middle;
}

.form-group.col-md-6 input.fake-input.form-control{
    min-width: 150px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.btn-icon {
    height: 34px;
}

.form-small #account_id, .form-small .select2.select2-container {
    width: 90% !important;
    float: left;
}

.form-small #currency {
    width: 10%;
}

.input-group-recurring {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.popover-content, .discount.box-body, .discount.box-footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.discount-description {
    margin-top: 6px;
    margin-left: -20px;
}

.user.user-menu, .user.user-menu a.dropdown-toggle {
    min-height: 50px;
}

.module-installed {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    margin-left: 10px;
}

.invoice, .bill {
    border: none !important;
}

#badge div.label {
    margin-top: 15px;
    width: 180px;
    margin-right: -30px;
    position: absolute;
    right: 0;
    font-size: 14px;
    z-index: 99;
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    border-radius: 0;
}

#badge .arrow-up {
    position: absolute;
    right: 0;
    margin-right: 100px;
    z-index: 999;
    margin-top: -43px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 19px solid #ecf0f5;
}

#badge .arrow-right {
    position: absolute;
    margin-top: 55px;
    z-index: 999;
    margin-right: -23px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ecf0f5;
}

@-moz-document url-prefix() {
    .show-calendar .calendar-table .table-condensed > tbody > tr > td,
    .show-calendar .calendar-table .table-condensed > tbody > tr > th,
    .show-calendar .calendar-table .table-condensed > tfoot > tr > td,
    .show-calendar .calendar-table .table-condensed > tfoot > tr > th,
    .show-calendar .calendar-table .table-condensed > thead > tr > td,
    .show-calendar .calendar-table .table-condensed > thead > tr > th  {
        padding: 0;
    }
}

.pull-right.rating {
    margin-top: -30px;
}

#role-permissions .form-group.col-md-12 .col-md-3 {
    overflow: hidden;
}

.input-checkbox {
    white-space: nowrap;
}

.input-checkbox:after {
    content: "";
    position: absolute;
    right: -10px;
    height: 25px;
    width: 25px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
}

#role-permissions .permission-select-button {
    cursor: pointer;
}

#role-permissions .permission-unselect-button {
    cursor: pointer;
}

#role-permissions .nav-tabs-custom {
    margin-top: 15px;
    box-shadow: 0 1px 0px rgba(0,0,0,0.1);
}

#role-permissions .nav-tabs-custom .nav.nav-tabs {
    border-style: unset;
}

#role-permissions .nav-tabs-custom .tab-content {
    padding: 0px;
}

#role-permissions .nav-tabs-custom .tab-content .tab-pane {
    block-size: 0;
}

#role-permissions .nav-tabs-custom .tab-content .tab-pane .permission-button-group {
    padding: 15px 0 0 30px;
}

#role-permissions .nav-tabs-custom .tab-content .form-group.col-md-12 .col-md-3 .input-checkbox {
    font-weight: normal;
}

.btn-filter.date-range-btn {
    background-color: inherit;
    border-radius: 0px;
    vertical-align: top;
}

.link .content-wrapper, .link  .right-side, .link  .main-footer {
    margin-left: inherit;
}

.col-md-6.input-group-invoice-text {
    padding-left: 0;
    padding-right: 0;
}

#items .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f4f4f4;
    color: #444;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

#items .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #444;
}

#items span.select2.select2-container.select2-container--default .select2-selection.select2-selection--multiple {
    border-color: #d2d6de;
    border-radius: 0;
}

#items .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #6da252;
    border-radius: 0;
}

#items .select2-search__field {
    padding-left: 15px;
    margin-top: 6px;
}

#tax-add-new {
    padding: 6px 12px;
}

.stepwizard-step p {
    margin-top: 5px;
    font-size: 16px;
    color:#666;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}

.stepwizard-row:before {
    top: 26px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle.btn-success {
    color: #fff;
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 1px 0;
    font-size: 30px;
    line-height: 1.428571;
    border-radius: 30px;
}

.row.show-invoice .timeline>li {
    margin-right: 0;
}

.row.show-invoice .timeline>li a:first-child {
    margin-left: 10px;
}

.box-filter {
    margin-left: 5px;
}

.box-filter .select2.select2-container.select2-container--default {
    width: 160px !important;
    margin-top: -2px;
}

.box-filter .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 3px;
}
.box-filter .select2.select2-container .select2-selection__choice {
    font-size: 13px !important;
    margin-top: 4px;
    margin-bottom: -1px !important;
}

.box-filter .select2-container .select2-selection--multiple {
    min-height: 30px !important;
}

.box-filter .select2-search__field {
    font-size: 12px !important;
}

/* App Detail Page Sliders Start */
.row.module #description .img-fluid.d-block.w-100 {
    height: 410px;
    width: 100%;
}

.row.module #description .image-description.text-center {
    color: white;
    padding-top: 14px;
    position: absolute;
    width: 100%;
}

.row.module #description #carousel-screenshot-generic .carousel-control {
    top: inherit;
    bottom: inherit;
    margin-top: 30px;
    margin-right: 5px;
    width: 5%;
}

.row.module #description #carousel-screenshot-generic .carousel-control.left {
    margin-left: -10px;
}

.row.module #description #carousel-screenshot-generic .carousel-control .fa {
    font-size: 1em;
}

.row.module #description .carousel-navigation-message {
    background-color: #333333;
    height:40px;
}

.row.module #description .carousel-inner .item {
    padding: 4px 4px 4px 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/* App Detail Page Sliders Finish */

.select2-container .select2-selection--multiple{
    min-height: 34px;
}

.box-body .app-price-suffix {
    font-size: 50%;
}

.box-footer .app-price-suffix {
    font-size: 70%;
}

.table-report {
    overflow-x: auto !important;
}

.mailbox-attachment-file-name {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mailbox-attachment-download {
    margin-right: 5px;
}
